a {
    color: inherit;
    text-decoration: none;
}

input,
button {
    background: none;
    outline: none;
    border: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    background: hotpink;
    padding-top: 100px;
    height: 100vh;
}

section.main {
    width: 700px;
    border-radius: 5px;
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}



#rock-paper-scissors {
    background: #fff;
    color: #000;
    height: 80px;
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

section.main .score-reset-board {
    background: #fff;
    color: #000;
    font-size: 1.1em;
    height: 60;
    padding: 10px;

    width: 680px;
    border-bottom: 1px solid #ddd;
}

section.main .score-reset-board .averaging {
    width: 125px;
    height: 30px;
    margin-left: 75px;
    margin-top: 9px;
    border: 1px solid #ddd;
    border-radius: 14px;
    text-align: center;
    line-height: 30px;

    float: left;
}

section.main .score-reset-board .averaging.active {
    background: red;
    animation: active 0.5s infinite alternate;
}

@keyframes active {
    0% {}

    100% {
        margin-top: 0px;
        margin-bottom: 20px;
    }
}

section.main .score-reset-board .score {
    width: 250px;
    height: 50px;
    padding: 0 6px;
    margin: 0 10px;

    background: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 18px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    float: left;
}

section.main .score-reset-board .score .player-computer {
    position: relative;
}

section section.main .score-reset-board .score .score-board {
    position: relative;
    left: -13px;

}

section.main .score-reset-board .reset {
    /* all: unset; */

    width: 100px;
    height: 36px;

    background: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 18px;

    font-size: 16px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    cursor: pointer;
    padding: 0 6px;
    margin: 0 10px;

    float: right;

    position: relative;
    top: 7px;
    /* transition: all .2s ease; */
}

section.main .score-reset-board .reset:hover {
    background: #dec6eb;
    border: 1px solid #777;
}

section.main .game-result {
    width: 100%;
    height: 650px;
    background: #fff;

}


/* 하단부 주먹 가위 보 클릭시 가운데 플레이어 창에 크게 이미지 나타남 */
section.main .game-result .player-game {

    width: 45%;
    height: 100%;
    background: yellow;
    float: left;
    background: url("img/rock.png") center no-repeat;
    background-size: contain;
    margin: auto 2.5%;

}

/* 하단부 주먹 가위 보 클릭시 가운데 컴퓨터 창에 크게 이미지 나타남 */
section.main .game-result .computer-game {
    width: 45%;
    height: 100%;
    float: right;

    margin: auto 2.5%;
}

section.main .game-result .rock {
    background: url("img/rock.png") center no-repeat;
    background-size: contain;
}

section.main .game-result .scissors {
    background: url("img/scissors.png") center no-repeat;
    background-size: contain;
}

section.main .game-result .paper {
    background: url("img/paper.png") center no-repeat;
    background-size: contain;
}

section.main .game-result .player-game p {
    font-weight: 700;
    font-size: 25px;
    margin-top: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}



section.main .game-result .computer-game p {
    font-weight: 700;
    font-size: 25px;
    margin-top: 50px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


section.main .choice {
    width: 100%;
    float: left;
    padding: 20px 0;
    background: #fff;
}

#rock,
#scissors,
#paper {
    width: 80px;
    height: 80px;
    background: #aaa;

    border: 1px solid #444;
    border-radius: 40px;

    margin-right: 5%;
    cursor: pointer;



    /* transition: all .1s ease; */

}

#rock:hover,
#scissors:hover,
#paper:hover {
    background-size: 56px 56px;
}

#rock {
    background: url("img/rock.png") center no-repeat;
    background-size: 50px 50px;
    float: left;
    margin-left: 27%;
}

#scissors {
    background: url("img/scissors.png") center no-repeat;
    background-size: 50px 50px;
    float: left;
    margin-right: 27%;
}

#paper {
    background: url("img/paper.png") center no-repeat;
    background-size: 50px 50px;
    float: left;
}